@model IEnumerable<ma_kimono.Models.DB.Customer>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
<p>
    <a class="btn btn-outline-light id="register" asp-area="Identity" asp-page="/Account/Register">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSubscribed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSubscribed)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
